@import url('https://fonts.googleapis.com/css2?family=Fondamento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
body, html{
    position: relative;
  min-height: 100vh;
    margin: auto;
    width: 100%;
    background-color:rgb(233, 233, 233);

    .h1{
        font-family: 'Fondamento', cursive;
        width: 100%;
        padding: 1% 0;
        background-color: #7c7a7a;
        box-shadow: 0 10px 8px #4b4a4a;
        display: flex;
        justify-content: center;
       
        h1{
            letter-spacing: 3px;
            color: rgb(224, 224, 224);
        }
        .cart{
            display: block;
            position: absolute;
            right: 34px;
            top:38px;
            color : black;
        }
    }
.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12 {
    font-family: 'Titillium Web', sans-serif;
    margin: 5%;
    font-size: x-large;
}
.cartx{
    display: block;
    position: absolute;
    right: 1px;
    top:120px;
    text-align:right;
}
    .footer{
        font-family: 'Titillium Web', sans-serif;
        width: 100%;
        background-color: #4b4a4a;
        left:0px;
        height:50px;
        p{
           
            color: white;
            text-align: center;
        }
    }
}
.links{
    margin-left: 20px;
}
body main h3, html main h3 {
    text-align: end;
    padding: 38px;
}

